.carregamento{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    animation-name: spinner; /* nome da animação que será executada */
    animation-duration: 2s; /* tempo de duração que será executado*/
    animation-direction: alternate; /*modo que sera executado a animação*/
    animation-iteration-count: infinite; /**/
    animation: spinner 2s alternate infinite; /**/
}
@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}