body{
    background-color: #e0e0e0;
}
.contato{
    text-decoration: none;
    color: black;    
}
.foto{
    display: inline-block;
    padding-left: 10px;
    float: left;
}
.nome{
    display: inline-block;
}
.informaçoes{
    
}