body{
    background-color: rgba(79, 112, 145, 0.574);
    opacity: 1; 
}
.contato{
    text-decoration: none;
    color: black; 
    font-size: 32px;   
    margin: 3px;
    
}

.foto{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 37%;
    border-radius: 50%;
}

.centro{
    display: flex;
    justify-content: center;
    padding-top: 4px;
}

.borda{
    border: 1px solid;
    display: inline-block;
    margin-left: 41%;  
    padding: 8px; 
    border-radius: 32px;  
}   

