@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    background-color: #e0e0e0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.botao{
    background-color: bisque;
    padding: 8px 9px;
    border:  1px solid black;
    margin-top: 10px;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 90px;
    color: black;
}
.botao:hover{
    cursor: pointer;
    background-color: blanchedalmond;
    color: tomato;
    opacity: 0.75;
}


table{
    width: 100%;
    border: 1px solid black;
}

tbody tr,tbody td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}


tbody tr:hover{
    cursor: crosshair;
    background-color: #e8f5e9;
}

thead tr{
    background-color: #007bff;
}
thead tr th{
    padding: 10px 5px;
    color: white;
}
.botao-criar{
    display: inline-block;
    width: 200px;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 8px 0px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    float: right;
}

.botao-criar:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
}

.botao-apagar,.botao-detalhe{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}

.botao-detalhe{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.botao-apagar{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
